html,body {height: 100%; margin: 0;
}
#mapid {
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


.company-name {
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    color: rgb(17, 98, 164);
    border-bottom: 1px solid black;
    margin-bottom: 14px;
    
}

.address{
    font-style: italic;
    text-align: center;
    font-size: 12px;
    
}

.naics-code{
    text-align: center;
    font-size: 10px;
    
}